<!DOCTYPE html>
<html lang="en">
    <head>
        <%- include("components/header.html") %>
        <link rel="stylesheet" href="css/article_info.css">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>OnlineStore: Article's Info</title>
    </head>

    <body>
        <div id="masterContainer" class="container-fluid">
            <%- include("components/navbar.html") %>
            <br>
            <div class="article-info-displayer">
                <div class="article-info-image-container">
                    <img class="article-info-image" src="<%= article_info.url %>" alt="">
                </div>
                <div class="article-info-info">
                    <div class="article-info-item article-info-name">
                        <strong class="article-info-field">Name: </strong> <%= article_info.name %>
                    </div>
                    <div class="article-info-item article-info-price">
                        <strong class="article-info-field">Price: </strong> $<%= article_info.price %>
                    </div>
                    <div class="article-info-item article-info-author">
                        <strong class="article-info-field">Author: </strong> <%= article_info.author %>
                    </div>
                    <div class="article-info-item article-info-date">
                        <strong class="article-info-field">Created at: </strong> <%= article_info.createdAt %>
                    </div>
                    <div class="article-info-item article-info-amount">
                        <strong class="article-info-field">Avaliable: </strong> <%= article_info.amount %>
                    </div>
                    <div class="article-info-item article-info-description">
                        <strong class="article-info-field">Description: </strong> <%= article_info.description %>
                    </div>
                    <div class="article-info-button-container">
                        <button class="buy-button">Buy!</button>
                    </div>
                </div>
            </div>
        </div>

        <%- include("components/footer.html") %>
    </body>
</html>