<!DOCTYPE html>
<html lang="en">
    <head>
        <link rel="stylesheet" href="css/home.css">
        <link rel="stylesheet" href="css/search-article-module.css">
        <%- include("components/header.html") %>
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>Online Store: Home</title>
    </head>

    <body>
        <div id="masterContainer" class="container-fluid">
            <!--NAVBAR-->
            <%- include("components/navbar.ejs") %>
            <div id="black_background-window" class="emergent-windows-container container-fluid">
                <%- include("components/newArticle.html") %>
                <%- include("components/more_info.html") %>
                <%- include("components/myArticles.html") %>
            </div>

            <!--MAIN CONTENT-->
            <div class="mainContent-container container-fluid">
                <main class="main-content">
                    <% if(locals.errorMessage){ %>
                        <div class="errorMessageDiv container">
                            <%- errorMessage %>
                        </div>
                    <% }else{ %>
                        <% if(homeArticles.length <= 0){ %>
                            <div class="emptyContentMessage container">
                                There ere no items for show to this account
                            </div>
                        <% } %>
                    <% } %>
                </main>
                <aside class="searchArticle-module">
                    <form id="search-form" class="search-form">
                        <div class="input-field-container byuser-field-container container">
                            <p class="search-input-key h6">By user:</p>
                            <input type="text" name="byUser" class="input-value" placeholder="by user">
                        </div>
                        <br>
                        <div class="input-field-container byname-field-container container">
                            <p class="search-input-key h6">By name:</p>
                            <input type="text" name="byName" class="input-value" placeholder="by name">
                        </div>
                        <br>
                        <div class="input-field-container byprice-field-container container">
                            <p class="search-input-key h6">By price:</p>
                            <div class="price-input-container">
                                <input type="number" name="byPrice1" class="input-value price-input" placeholder="low price">
                                <input type="number" name="byPrice2" class="input-value price-input" placeholder="hight price">
                            </div>
                        </div>
                        <br>
                        <button id="search-submit" class="search-submit" type="submit">Search!</button>
                        <button id="search-refresh" class="search-refresh">
                            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-arrow-clockwise" viewBox="0 0 16 16">
                                <path fill-rule="evenodd" d="M8 3a5 5 0 1 0 4.546 2.914.5.5 0 0 1 .908-.417A6 6 0 1 1 8 2v1z"/>
                                <path d="M8 4.466V.534a.25.25 0 0 1 .41-.192l2.36 1.966c.12.1.12.284 0 .384L8.41 4.658A.25.25 0 0 1 8 4.466z"/>
                            </svg>
                        </button>
                    </form>
                </aside>
            </div>
        </div>
        <footer class="container-fluid">
            All products displayed here are just for testing. Images, prices and names are generated randomly
        </footer>
        <%- include("components/footer.html") %>
        <script src="scripts/search-article-button.js"></script>
        <script src="scripts/createHomeArticles.js"></script>
        <% if(homeArticles.length > 0){ %>
            <script>
                const main_content = document.querySelector(".main-content");
                const items = <%- homeArticles %>
                console.log(items);
                console.log(items.length);
                createHomeElements(items);
            </script>
        <% } %>
        <script src="scripts/home.js"></script>
    </body>
</html>