<!DOCTYPE html>
<html lang="en">
    <head>
        <%- include("components/header.html") %>
        <link rel="stylesheet" href="css/mycart.css">
        <link rel="stylesheet" href="css/mycart-pay-form.css">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>OnlineStore: My Cart</title>
    </head>

    <body>
        <div id="masterContainer" class="container-fluid">
            <%- include("components/navbar.ejs") %>
            <div id="black_background-window" class="emergent-windows-container container-fluid">
                <%- include("components/newArticle.html") %>
            </div>

            <button class="payCart-button">P</button>
            <div class="mainContent-container container-fluid">
                <div class="cart-container container">
                    <% if(locals.errorMessage){ %>
                        <div class="errorMessageDiv container">
                            <%= errorMessage %>
                        </div>
                    <% }else{ %>
                        <% if(mycart.length == 0){ %>
                            <div class="emptyContentMessage container">
                                You don't have items on your cart...
                            </div>
                        <% } %>
                    <% } %>
                </div>
                <aside class="info-container container">
                    <form id="pay-info-form">
                        <h3 class="form-title">
                            Payment methods.
                        </h3>
                        <h6 style="text-align:center; font-size:13px;">
                            Use the example values bellow:
                        </h6>
                        <hr>
                        <div class="pay-form-field">
                            <label for="card_number" class="pay-field-key">Card number:</label>
                            <br>
                            <input class="pay-field-value" type="text" name="card_number" value="1234-4321-5678-8765" required>
                        </div>
                        <div style="display:flex; justify-content:space-between;">
                            <div class="pay-form-field">
                                <label for="expiration_date" class="pay-field-key">Exp.date:</label>
                                <br>
                                <input class="pay-field-value small_field" type="text" name="expiration_date" value="12/25" required>
                            </div>
                            <div class="pay-form-field">
                                <label for="cvc_number" class="pay-field-key">CVC:</label>
                                <br>
                                <input class="pay-field-value small_field" type="text" name="cvc_number" value="123" required>
                            </div>
                        </div>
                        <br>
                        <button type="submit" class="pay-form-button">Pay</button>
                    </form>
                </aside>
            </div>
        </div>
        <%- include("components/footer.html") %>
        <% if(locals.mycart){ %>
            <% if(mycart.length > 0){ %>
                <script>
                    const main_content = document.querySelector(".cart-container");
                    const items = <%- JSON.stringify(mycart) %>;
                </script>
                <script src="scripts/createCartElements.js"></script>
                <script src="scripts/mycart-pay-form.js"></script>
            <% } %>
        <% } %>
    </body>
</html>